﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="top_block">
        <div class="site_title">
            <img class="site_logo" src="~/Content/img/library_logo.png" alt="Logo" />
            <h1>Library</h1>
        </div>
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="main_wrapper">
        <div class="main_content">
            @RenderBody()
        </div>
        <nav class="menu">
            <ul>
                <li>@Html.ActionLink("Main", "Index", "Home")</li>
                <li>@Html.ActionLink("Guest", "Guest", "Guest")</li>
                <li>@Html.ActionLink("Form", "Form", "Form")</li>
            </ul>
        </nav>
    </div>
    <footer>
        <div>@Html.ActionLink("Back to the top", "Index", "Home")</div>
        <div>
            <p>Oleh Yarosh yarosh.olegx@gmail.com Copyright © 2021 All Rights Reserved</p>
        </div>
    </footer>
</body>
</html>
