﻿
@{
    ViewBag.Title = "Form Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper CreateRadioList(IEnumerable<string> items, string name)
{
    <ul>
        @foreach (var item in items)
        {
            <li>
                <input type="radio" name="@name" value="@item" />
                <p>@item</p>
            </li>
        }
    </ul>
}

@using (Html.BeginForm("Form", "Form", FormMethod.Post, new { @class = "questinary_form" }))
{
    <div class="form_text">
        <p>Name:</p>
        @Html.TextBox("Name", "Enter your name")
    </div>
    <div class="form_text">
        <p>Surname:</p>
        @Html.TextBox("Surname", "Enter your surname")
    </div>
    <div class="form_radio">
        <p>Programming language:</p>
        @CreateRadioList(new List<string> { "C#", "Java", "C++", "Python" }, "ProgrammingLanguage")
    </div>
    <div class="form_checkbox">
        <p>Have expirience?</p>
        @Html.CheckBox("HaveExpirience", false)
    </div>
    <input type="submit" value="Submit" class="submit_button">;
}

