﻿
@{
    ViewBag.Title = "Form Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form_result">
    @foreach (var item in ViewBag.Result)
    {
        <div>@item.Item1: @item.Item2</div>
    }
</div>